<div class="jumbotron jumbotron-fluid Myjumbotron">

  <div class="container">
    <h1 class="display-4"><%= config.title %></h1>
    <p class="lead"><%= config.subtitle %> <br>
    	Autor: <%= config.author %>
    </p>
  </div>
</div>